# macOS resource forks
._*

WASP148_MutualInclination/
WASP148_MutualInclination/.vscode/
e-λ_Trends/Figs/*.pdf
*/*/*_
./RM_DR
converter.py
main.ipynb
Run.ipynb
e-λ_Trends/Data&Code&Memory
e-λ_Trends/BeforeMar23
RV_TimeDec26_Mar23.csv
.DS_Store